<!DOCTYPE html>
<html  lang="ro">
    <head>
        
        <meta name="description" content="Cocktailuri. Retete. Mixologie. Tot ce vrei să știi despre mixurile de băuturi!">
        <meta name="keywords" content="cocktail, rețete cocktailuri, mixologie, alcool, mocktail, tehnici preparare, bar acasă, sfaturi mixologie">
        <title>Amber & Essence</title>
        
        <%- include("../fragmente/head.ejs") %>

    </head>
    <body>

    <%- include("../fragmente/header.ejs") %>
    <main>

        A doua pagina
    </main>
    <%- include("../fragmente/footer.ejs") %>

    </body>
</html>