#gr {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-row-gap: 0.5em;
  grid-column-gap: 0.5em;
  border: 1px solid var(--color10);
  border-radius: 10px;
  counter-reset: greek-counter;
}
#gr img {
  width: 100%;
  cursor: pointer;
}
#gr figcaption {
  text-align: center;
}
#gr figcaption::before {
  content: counter(greek-counter, lower-greek) ". ";
  counter-increment: greek-counter 1;
}
#gr figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 1.1s linear;
}
#gr figure:hover {
  box-shadow: grey 0 0 7px;
  filter: contrast(200%);
  transition: all 1.1s;
}
#gr figure figcaption {
  transform: scale(1.2);
  transition: all 1.1s;
}

@media screen and (min-width: 1201px) {
  #gr figure {
    border: 1.5px dashed var(--color10);
  }
  #gr figure:nth-child(1) {
    grid-area: 1/1/2/2;
  }
  #gr figure:nth-child(2) {
    grid-area: 1/3/2/4;
  }
  #gr figure:nth-child(3) {
    grid-area: 2/2/3/3;
  }
  #gr figure:nth-child(4) {
    grid-area: 3/1/4/2;
  }
  #gr figure:nth-child(5) {
    grid-area: 3/3/4/4;
  }
  #gr figure:nth-child(6) {
    grid-area: 4/2/5/3;
  }
}
@media screen and (max-width: 1200px) {
  #gr {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #galerie-animata {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  #gr {
    grid-template-columns: repeat(1, 1fr);
  }
  #galerie-animata {
    display: none;
  }
}
#galerie-animata {
  width: 500px;
  height: 370px;
  overflow: hidden;
}
#galerie-animata .viewport {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#galerie-animata .grid {
  display: grid;
  transition: transform 1s ease-in-out;
}
#galerie-animata figure {
  width: 500px;
  height: 370px;
  position: relative;
}
#galerie-animata figure figcaption {
  position: absolute;
  width: inherit;
  bottom: 0;
  left: 0;
  text-align: center;
  font-weight: bold;
  background-color: var(--color9);
  opacity: 0.8;
}
#galerie-animata img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes rotatie360 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotate {
  animation: rotatie360 1s ease-in-out;
}