nav {
  font-size: 1.2em;
  --latime-buton: 155px;
}

ul.meniu{
  width: 95%;
}

ul.meniu ul {
  width: var(--latime-buton);
}
ul.meniu li {
  width: var(--latime-buton);
}
ul.meniu li div .text-icon {
  display: none;
}
ul.meniu li div .imag-icon {
  display: block;
}
ul.meniu #text-acasa {
  display: none;
}