/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6{
    margin-top: 1em;
}

h1{
    padding-top: 20px;
    padding-left: 20px;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

 @namespace "http://www.w3.org/1999/xhtml";

 html {
     display: block;
 }
 
 :root {
     view-transition-name: root;
 }
 
 /* generic block-level elements */
 
 body {
     display: block;
     margin: 8px;
 }
 
 body:-webkit-full-page-media {
     background-color: rgb(0, 0, 0)
 }
 
 p {
     display: block;
     margin-block-start: 1__qem;
     margin-block-end: 1__qem;
     margin-inline-start: 0;
     margin-inline-end: 0;
 }
 
 div {
     display: block
 }
 
 article, aside, footer, header, hgroup, main, nav, search, section {
     display: block
 }
 
 marquee {
     display: inline-block;
     width: -webkit-fill-available;
 }
 
 address {
     display: block
 }
 
 blockquote {
     display: block;
     margin-block-start: 1__qem;
     margin-block-end: 1em;
     margin-inline-start: 40px;
     margin-inline-end: 40px;
 }
 
 figcaption {
     display: block
 }
 
 figure {
     display: block;
     margin-block-start: 1em;
     margin-block-end: 1em;
     margin-inline-start: 40px;
     margin-inline-end: 40px;
 }
 
 q {
     display: inline
 }
 
 q:before {
     content: open-quote;
 }
 
 q:after {
     content: close-quote;
 }
 
 center {
     display: block;
     /* special centering to be able to emulate the html4/netscape behaviour */
     text-align: -webkit-center
 }
 
 hr {
     display: block;
     overflow: hidden;
     margin-block-start: 0.5em;
     margin-block-end: 0.5em;
     margin-inline-start: auto;
     margin-inline-end: auto;
     border-style: inset;
     border-width: 1px
 }
 
 map {
     display: inline
 }
 
 video {
     object-fit: contain;
 }
 
 video:-webkit-full-page-media {
     margin: auto;
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     max-height: 100%;
     max-width: 100%;
 }
 
 audio:not([controls]) {
   display: none !important;
 }
 
 /** TODO(crbug.com/985623): Remove these hard-coded audio tag size.
  * This fixed audio tag width/height leads to fail the wpt tests below.
  * crbug.com/955170 external/wpt/css/css-contain/contain-size-replaced-003a.html
  * crbug.com/955163 external/wpt/css/css-contain/contain-size-replaced-003b.html
  * crbug.com/955163 external/wpt/css/css-contain/contain-size-replaced-003c.html
  */
 audio {
   width: 300px;
   height: 54px;
 }
 
 video, canvas, img {
   overflow: clip;
   overflow-clip-margin: content-box;
 }
 
 iframe, embed, object, fencedframe {
    overflow: clip !important;
    overflow-clip-margin: content-box !important;
 }
 
 /* heading elements */
 
 h1 {
     display: block;
     font-size: 2em;
     margin-block-start: 0.67__qem;
     margin-block-end: 0.67em;
     margin-inline-start: 0;
     margin-inline-end: 0;
     font-weight: bold
 }
 
 :-webkit-any(article,aside,nav,section) h1 {
     font-size: 1.5em;
     margin-block-start: 0.83__qem;
     margin-block-end: 0.83em;
 }
 
 :-webkit-any(article,aside,nav,section) :-webkit-any(article,aside,nav,section) h1 {
     font-size: 1.17em;
     margin-block-start: 1__qem;
     margin-block-end: 1em;
 }
 
 :-webkit-any(article,aside,nav,section) :-webkit-any(article,aside,nav,section) :-webkit-any(article,aside,nav,section) h1 {
     font-size: 1.00em;
     margin-block-start: 1.33__qem;
     margin-block-end: 1.33em;
 }
 
 :-webkit-any(article,aside,nav,section) :-webkit-any(article,aside,nav,section) :-webkit-any(article,aside,nav,section) :-webkit-any(article,aside,nav,section) h1 {
     font-size: .83em;
     margin-block-start: 1.67__qem;
     margin-block-end: 1.67em;
 }
 
 :-webkit-any(article,aside,nav,section) :-webkit-any(article,aside,nav,section) :-webkit-any(article,aside,nav,section) :-webkit-any(article,aside,nav,section) :-webkit-any(article,aside,nav,section) h1 {
     font-size: .67em;
     margin-block-start: 2.33__qem;
     margin-block-end: 2.33em;
 }
 
 h2 {
     display: block;
     font-size: 1.5em;
     margin-block-start: 0.83__qem;
     margin-block-end: 0.83em;
     margin-inline-start: 0;
     margin-inline-end: 0;
     font-weight: bold
 }
 
 h3 {
     display: block;
     font-size: 1.17em;
     margin-block-start: 1__qem;
     margin-block-end: 1em;
     margin-inline-start: 0;
     margin-inline-end: 0;
     font-weight: bold
 }
 
 h4 {
     display: block;
     margin-block-start: 1.33__qem;
     margin-block-end: 1.33em;
     margin-inline-start: 0;
     margin-inline-end: 0;
     font-weight: bold
 }
 
 h5 {
     display: block;
     font-size: .83em;
     margin-block-start: 1.67__qem;
     margin-block-end: 1.67em;
     margin-inline-start: 0;
     margin-inline-end: 0;
     font-weight: bold
 }
 
 h6 {
     display: block;
     font-size: .67em;
     margin-block-start: 2.33__qem;
     margin-block-end: 2.33em;
     margin-inline-start: 0;
     margin-inline-end: 0;
     font-weight: bold
 }
 
 /* tables */
 
 table {
     display: table;
     border-collapse: separate;
     border-spacing: 2px;
     border-color: gray;
     box-sizing: border-box;
     text-indent: initial
 }
 
 thead {
     display: table-header-group;
     vertical-align: middle;
     border-color: inherit
 }
 
 tbody {
     display: table-row-group;
     vertical-align: middle;
     border-color: inherit
 }
 
 tfoot {
     display: table-footer-group;
     vertical-align: middle;
     border-color: inherit
 }
 
 /* for tables without table section elements (can happen with XHTML or dynamically created tables) */
 table > tr {
     vertical-align: middle;
 }
 
 col {
     display: table-column
 }
 
 colgroup {
     display: table-column-group
 }
 
 tr {
     display: table-row;
     vertical-align: inherit;
     border-color: inherit
 }
 
 td, th {
     display: table-cell;
     vertical-align: inherit;
 }
 
 /* When the td/th are inside a table (the normal case), the padding is taken
    care of by HTMLTableCellElement::AdditionalPresentationAttributeStyle(). */
 td:not(table td),
 th:not(table th) {
   padding: 1px;
 }
 
 th {
     font-weight: bold;
     text-align: -internal-center
 }
 
 caption {
     display: table-caption;
     text-align: -webkit-center
 }
 
 /* lists */
 
 ul, menu, dir {
     display: block;
     list-style-type: disc;
     margin-block-start: 1__qem;
     margin-block-end: 1em;
     @supports not blink-feature(CorrectStylesForLists) {
         margin-inline-start: 0;
         margin-inline-end: 0;
     }
     padding-inline-start: 40px
 }
 
 ol {
     display: block;
     list-style-type: decimal;
     margin-block-start: 1__qem;
     margin-block-end: 1em;
     @supports not blink-feature(CorrectStylesForLists) {
         margin-inline-start: 0;
         margin-inline-end: 0;
     }
     padding-inline-start: 40px
 }
 
 li {
     display: list-item;
     /* TODO(crbug.com/40774317, crbug.com/40787216): We should use
        text-align: match-parent once it is supported. */
     text-align: -webkit-match-parent;
 }