.grid-retete {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.grid-retete .reteta {
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background: var(--color9);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grid-retete .reteta:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}

.grid-retete .reteta h3 {
  background-color: var(--color2);
  margin: 0;
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}

.grid-retete .reteta h3 a {
  color: var(--color10);
}

.grid-retete .reteta .info-ret {
  display: flex;
  justify-content: space-around;
  background-color: var(--color2);
  background: #ffcc99;
  padding: 0.4rem;
  font-size: 0.9rem;
}

.grid-retete .reteta {
  text-align: center;
  margin: 1rem 0 0.5rem;
}

.grid-retete .reteta p.categorie {
  text-align: center;
  font-weight: bold;
  color: var(--color5);
  margin: 1rem 0 0.5rem;
}

.grid-retete .reteta figure {
  text-align: center;
  margin: 1rem 0;
}


.selecteaza-cos {
  padding: 0.4rem 0.6rem;
  cursor: pointer;
  font-size: 0.9rem;
}   