<footer>
    <p id="absolut">Acesta este un proiect scolar!</p>
    <br/><br/>
    <a href="#" id="link-top" title="Link sus"><div id="sageata">&#129081;</div></a>
    <address>
        Telefon: <a href="tel:+40987654321">+40 987 654 321</a><br/>
        Adresă: <a href="https://maps.app.goo.gl/JNbeX4KF535fyK7y5" target="_blank">Str. Florilor, nr. 14, București</a><br/>
        Email: <a href="mailto:contact@exemplu.com">contact@exemplu.com</a><br/>
        Chat: <a href="https://wa.me/40987654321" target="_blank">WhatsApp</a>
    </address>
    <small>
        &copy; DANFELLOWScoffeecocktails<br/>
        <time datetime="2025-02-24">24 februarie 2025</time>
    </small>
</footer>