<script src="/resurse/js/tema.js"></script>
<header>
    <h1 style="color:#000000">Amber & Essence</h1>
</header>

<nav>
    <label id="hamburger" for="ch-menu">
        <!-- <img src="resurse/imagini/Hamburger_icon_alb.png" alt="menu"> -->
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </label>
    <input id="ch-menu" type="checkbox">

    <ul class="meniu">
        <li><a href="/"><i class="fa-solid fa-house-user"></i> <span id="text-acasa">Acasă</span></a>
            <ul>
                <li><a href="/#zona1">Bine ați venit</a></li>
                <li><a href="/#zona2">Misiunea noastră</a></li>
                <li><a href="/#zona3">O poveste pe zi</a></li>
                <li><a href="/#zona4">Știați că</a></li>
                <li><a href="/#zona5">Anunțuri</a></li>
                <li><a href="/#zona6">Ingrediente și alcool</a></li>
                <li><a href="/#zona7">Statistici utilizator</a></li>
            </ul>
        </li>
        <li><a href="/retete">Rețete</a>
            <ul>
                <li><a href="/retete">Toate</a></li>

                <% for(let opt of locals.optiuniMeniu){ %>
                    <li><a href="/retete?categ=<%= opt.unnest %>"><%= opt.unnest[0].toUpperCase() + opt.unnest.replace(/_/g, ' ').slice(1) %></a></li>   
                    <!-- = afiseaza ce urmeaza -->
                <% } %>
            </ul>
        </li> 
        <li><a href="/tips-n-tricks">Tips & Tricks</a>
            <ul>
                <li><a href="/tips-n-tricks/#tehnici_de_baza">Tehnici de bază</a></li>
                <li><a href="/tips-n-tricks#echipamente">Echipamente</a></li>
                <li><a href="/tips-n-tricks#greseli_frecvente">Greșeli frecvente</a></li>
            </ul>
        </li>
        <li><a href="#Chestionar">Cocktailul potrivit</a></li>
        <li><a href="/galerie">Galerie</a></li>
        <div class="form-check form-switch m-2" id="schimba_tema">
            <input class="form-check-input" type="checkbox" >
            <label class="form-check-label"><i class="fas fa-sun"></i></label>
        </div>
    </ul>
</nav>